<div class="container text-center">
  <br>
  <div class="row">
    <div class="col-sm" *ngFor="let product of products; let productId = index;">
      <a [routerLink]="[ productId ]">
        <div class="card">
          <img src="{{ product.coverImage }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title">{{ product.name }}</p>
            <p class="card-text">{{ product.description }}</p>
            <p class="btn btn-lg btn-primary" role="button">${{ product.price }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>